# Web Scraping/Wrangling using Pandas

In [1]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/Elections_in_the_United_States'
data = pd.read_html(url)

In [2]:
#total tables length 33
tables = len(data)

In [3]:
#displaying each table's columns to check for specific table
for d in data:
    display(d.head(0))  #keeping it short for each table

Empty DataFrame
Columns: [(United States, Federal government Constitution of the United States Law Taxation)]
Index: []

Empty DataFrame
Columns: [vteUnited States presidential elections, vteUnited States presidential elections.1]
Index: []

Empty DataFrame
Columns: [vteUnited States Senate elections, vteUnited States Senate elections.1]
Index: []

Empty DataFrame
Columns: [vteUnited States House of Representatives elections, vteUnited States House of Representatives elections.1]
Index: []

Empty DataFrame
Columns: [vteUnited States gubernatorial elections, vteUnited States gubernatorial elections.1]
Index: []

Empty DataFrame
Columns: [Year, 2020, 2021, 2022, 2023, 2024]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [U.S. elections navigation boxes, U.S. elections navigation boxes.1]
Index: []

Empty DataFrame
Columns: [Elections by type, Elections by type.1]
Index: []

Empty DataFrame
Columns: [vteUnited States elections, vteUnited States elections.1]
Index: []

Empty DataFrame
Columns: [vteUnited States presidential elections, vteUnited States presidential elections.1]
Index: []

Empty DataFrame
Columns: [vteUnited States House of Representatives elections, vteUnited States House of Representatives elections.1]
Index: []

Empty DataFrame
Columns: [vteUnited States Senate elections, vteUnited States Senate elections.1]
Index: []

Empty DataFrame
Columns: [vteUnited States gubernatorial elections, vteUnited States gubernatorial elections.1]
Index: []

Empty DataFrame
Columns: [vteUnited States presidential primaries and caucuses, vteUnited States presidential primaries and caucuses.1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [Elections by state, Elections by state.1]
Index: []

Empty DataFrame
Columns: [vte Elections in the United States by state, vte Elections in the United States by state.1]
Index: []

Empty DataFrame
Columns: [Related topics, Related topics.1]
Index: []

Empty DataFrame
Columns: [vteElections in North America, vteElections in North America.1]
Index: []

Empty DataFrame
Columns: [vteUnited States articles, vteUnited States articles.1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

Empty DataFrame
Columns: [vteVoting rights in the United States, vteVoting rights in the United States.1]
Index: []

Empty DataFrame
Columns: [0, 1]
Index: []

In [4]:
#double check which specific table     
for n in range(tables):
    display(data[n].columns)  #indeces

MultiIndex([('United States', ...)],
           )

Index(['vteUnited States presidential elections', 'vteUnited States presidential elections.1'], dtype='object')

Index(['vteUnited States Senate elections', 'vteUnited States Senate elections.1'], dtype='object')

Index(['vteUnited States House of Representatives elections', 'vteUnited States House of Representatives elections.1'], dtype='object')

Index(['vteUnited States gubernatorial elections', 'vteUnited States gubernatorial elections.1'], dtype='object')

Index(['Year', '2020', '2021', '2022', '2023', '2024'], dtype='object')

Int64Index([0, 1], dtype='int64')

Index(['U.S. elections navigation boxes', 'U.S. elections navigation boxes.1'], dtype='object')

Index(['Elections by type', 'Elections by type.1'], dtype='object')

Index(['vteUnited States elections', 'vteUnited States elections.1'], dtype='object')

Index(['vteUnited States presidential elections', 'vteUnited States presidential elections.1'], dtype='object')

Index(['vteUnited States House of Representatives elections', 'vteUnited States House of Representatives elections.1'], dtype='object')

Index(['vteUnited States Senate elections', 'vteUnited States Senate elections.1'], dtype='object')

Index(['vteUnited States gubernatorial elections', 'vteUnited States gubernatorial elections.1'], dtype='object')

Index(['vteUnited States presidential primaries and caucuses', 'vteUnited States presidential primaries and caucuses.1'], dtype='object')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Index(['Elections by state', 'Elections by state.1'], dtype='object')

Index(['vte Elections in the United States by state', 'vte Elections in the United States by state.1'], dtype='object')

Index(['Related topics', 'Related topics.1'], dtype='object')

Index(['vteElections in North America', 'vteElections in North America.1'], dtype='object')

Index(['vteUnited States articles', 'vteUnited States articles.1'], dtype='object')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

Index(['vteVoting rights in the United States', 'vteVoting rights in the United States.1'], dtype='object')

Int64Index([0, 1], dtype='int64')

In [5]:
#US election comparison table
data[5].columns
df = data[5]  
df

,Year,2020,2021,2022,2023,2024
0,Type,Presidential,Off-yeara,Midterm,Off-yearb,Presidential
1,President,Yes,No,No,No,Yes
2,Senate,Class II (33 seats),No,Class III (34 seats),No,Class I (33 seats)
3,House,All 435 seats[2],No,All 435 seats[3],No,All 435 seats[2]
4,Gubernatorial,"11 states, 2 territories AS, DE, IN, MO, MT, N...","2 states NJ, VA","36 states, 3 territories[4] AL, AK, AZ, AR, CA...","3 states KY, LA, MS","11 states, 2 territories AS, DE, IN, MO, MT, N..."
5,Other state and local offices,Varies,Varies,Varies,Varies,Varies

In [6]:
length = len(df)
year = df.columns

>Find out the next presidential election for **Kanye West** and **Donald Trump**.

In [7]:
def nextPresElect():
    for y in year:
        yr = df.loc[1, y]
        if yr == 'Yes':
            print('Presidential election is year ' + y)
    
nextPresElect()

Presidential election is year 2020
Presidential election is year 2024

>The next gubernatorial election in NY state.

In [8]:
def nyGovElect():
    for y in year:
        yr = df.loc[4, y]
        if yr.find('NY') >= 1:
            print('Next Gubernatorial election of the clown in NY is',y)

nyGovElect()

Next Gubernatorial election of the clown in NY is 2022